body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */

.ehg-navbar {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: baseline;
  justify-content: center;
}

.ehg-navbar h1 {
  /*font-size: 30px;*/
  font-size: 4rem;
  font-weight: 300;
  text-align: center;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.ehg-navbar h1:hover {
  transform: translateY(5px);
}

.ehg-navbar-title {
  text-decoration: none;
  color: #222;
  margin-left: 30px;
  margin-right: 30px;
}
.ehg-navbar-title:hover {
  text-decoration: none;
  color: #222;
}
.ehg-navbar-title:active, .ehg-navbar-title:focus {
  text-decoration: none;
  color: #222;
}

.btn-link:focus, .btn-link:hover {
  color: #c7a891;
  text-decoration: none;
}

.dropdown-toggle {
  color: #555;
  font-size: 2rem;
  font-weight: 300;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.dropdown-toggle:hover {
  color: #c7a891;
}
.dropdown-toggle:active {
  box-shadow: none;
  color: #a18c7d;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.caret {
  display: none;
}

.dropdown-menu {
  box-shadow: none;
  border: none;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.dropdown-menu > li > a {
  font-family: 'Roboto', sans-serif;
  /*font-size: 15px;*/
  font-size: 2rem;
  font-weight: 300;
}
.dropdown-menu > li> a:hover {
  color: #c7a891;
  background-color: rgba(0,0,0,0);
}

/* MOBILE NAVBAR (BOOTSTRAP) */

.navbar-default {
  background-color: #fff;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #222;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #c7a891;
  color: #fff;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #c7a891;
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

/* HOME */

.home-img-1 {
  width: 100%;
  border-radius: 1rem;
  animation-name: homeMainImageIntro;
  animation-duration: 1s;
  -webkit-user-drag: none;
}

@keyframes homeMainImageIntro {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-title-1 {
  font-size: 6rem;
  font-weight: 300;
  margin-top: 140px;
  opacity: 0; /* Starts out at zero for animation */
  animation-name: homeMainTitleIntro;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.home-title-1-bold {
  font-weight: 500;
}

@keyframes homeMainTitleIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-sec-1 {
  margin-top: 50px;
}

.home-sec-2 {
  margin-top: 300px;
}

.home-sec-2 h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 20px;
}

.home-sec-2 h2 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  opacity: 0.5;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  cursor: pointer;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.home-sec-2 img {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.artist-divider-left {
  height: 400px;
  overflow: hidden;
  z-index: 0;
}
.artist-divider-left:hover .artist-divider-left-overlay {
  opacity: 0;
}
.artist-divider-left:hover h2 {
  opacity: 1;
  mix-blend-mode: overlay;
}
.artist-divider-left:hover .artist-divider-left-image {
  filter: grayscale(0);
}

.artist-divider-left-image {
  background-image: url('images/artist-portrait-fred-briscoe.JPG');
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  filter: grayscale(1);
}

.artist-divider-right {
  height: 400px;
  overflow: hidden;
  z-index: 0;
}
.artist-divider-right:hover .artist-divider-right-overlay {
  opacity: 0;
}
.artist-divider-right:hover h2 {
  opacity: 1;
  mix-blend-mode: overlay;
}
.artist-divider-right:hover .artist-divider-right-image {
  filter: grayscale(0);
}

.artist-divider-left-overlay {
  z-index: -1;
  background-color: #c7a891;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.artist-divider-right-overlay {
  z-index: -1;
  background-color: #b39681;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.artist-divider-right-image {
  background-image: url('images/artist-portrait-michael-roser.JPG');
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  filter: grayscale(1);
}

.home-sec-2-addon {
  margin-bottom: 100px;
}

.home-sec-2-addon .col-md-4 {
  padding: 0;
}

.home-sec-2-addon .artist-button-bar-left .btn {
  width: 100%;
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: #c7a891;
  opacity: 0.6;
  font-size: 25px;
  font-weight: 300;
  padding: 4px;
  box-sizing: border-box;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.home-sec-2-addon .artist-button-bar-left .btn:hover {
  background-color: #937b6a;
}

.home-sec-2-addon .artist-button-bar-right .btn {
  width: 100%;
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: #b39681;
  opacity: 0.6;
  font-size: 25px;
  font-weight: 300;
  padding: 4px;
  box-sizing: border-box;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.home-sec-2-addon .artist-button-bar-right .btn:hover {
  background-color: #937b6a;
}

.artist-button-bar-left, .artist-button-bar-right {
  padding: 0;
}

.social-sec-1 {
  margin-top: 200px;
}

.social-sec-1-m {
  margin-top: 100px;
}

.social-sec-1 h2 {
  font-size: 50px;
  font-weight: 300;
  padding-top: 200px;
  text-align: center;
}

.social-sec-2 h2 {
  font-size: 50px;
  font-weight: 300;
  padding-top: 300px;
  text-align: center;
}

.social-sec-2 {
  margin-top: 100px;
}

.social-widget-facebook {
  text-align: center;
}

.social-widget-instagram iframe {

}

/* UTILITIES */

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* SCROLL INDICATOR */

.scroll-indicator {
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 4rem;
  animation-name: scrollIndicator;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrollIndicator {
  0% {
    opacity: 0;
    bottom: 40px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 5px;
  }
}

/* FOOTER */

.footer {
  margin-top: 20rem;
  background-color: #c7ae9b;
  height: 40rem;
}

.footer h1 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-left: 20px;
  margin-top: 50px;
}

.footer h2 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 50px;
}

.footer h3 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.footer h4 {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.footer h4:hover {
  opacity: 0.75;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
}

.footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  margin-left: 20px;
}

.admin-link {
  margin-top: 30rem;
}

/* GALLERY */

.gallery {
  margin-bottom: 100rem;
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

@media (max-width: 1200px) {
  .gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  .gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.gallery-title {
  font-size: 40px;
  font-weight: 300;
  color: #222;
  margin-left: 3rem;
  margin-top: 5rem;
}

.gallery {
  margin: .5vw;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.gallery-item {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 30rem;
  margin: .5vw;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  .gallery-item {
    margin: 0;
  }

  .gallery {
    padding: 0;
  }
}

.gallery-page-main {
  margin-top: 4rem;
}

.gallery-page-main h3 {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
}

.gallery-page-main h4 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 3rem;
}

.gallery-page-main p {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.gallery-page-row-1 {

}

.gallery-page-row-2 {
  background-color: #fafafa;
  border-radius: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gallery-page-row-3 {

}

.gallery-page-main img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.gallery-page-main .btn-default {
  margin-bottom: 3rem;
  width: 100%;
  height: 4.5rem;
  border: 0;
  background-color: #c7a891;
  color: #fff;
  border-radius: 0;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.gallery-page-main .btn-default:hover {
  background-color: #a89282;
}
.gallery-page-main .btn-default:focus,
.gallery-page-main .btn-default:active {
  color: #fff;
  background-color: #a89282;
}

.gallery-page-price {
  font-size: 30px !important;
  font-weight: 400 !important;
  color: #444 !important;
  background-color: #fafafa !important;
  padding: 0.5rem !important;
  border-radius: 1rem !important;
  margin: 0 !important;
}

.paypal-btn {
  margin-left: 3rem;
}

.shipping-rate-option {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.shipping-rate-option input {
  display: inline;
}

.shipping-rate-option p {
  font-size: 15px;
  font-weight: 300;
  color: #444;
  display: inline;
}

/* GALLERY EDIT MODE (ADMIN) */

.gallery-page-edit {
  margin-top: 3rem;
  background-color: #fafafa;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.gallery-page-edit .btn {
  width: 100%;
}

.gallery-page-edit h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #222;
  margin: 0;
  padding: 0;
  margin-bottom: 0.2rem;
}

.gallery-page-edit h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
}

.gallery-page-edit h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #444;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
}

.gallery-page-edit .row {
  margin-bottom: 1rem;
}

.gallery-page-edit-final {
  margin-top: 3rem;
}

.loading {
  margin-top: 20rem;
}

.loading h1 {
  font-size: 5rem;
  font-weight: 300;
  color: #222;
  vertical-align: center;
  text-align: center;
  padding: 0;
  margin: 0;
  animation: loadingIntro;
  animation-duration: 0.5s;
}

@keyframes loadingIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ADMIN */

.login {
  margin-top: 10rem;
}

.login-form {
  background-color: #fafafa;
  border-radius: 1rem;
  padding: 2rem;
}

.login-form h1 {
  font-size: 25px;
  font-weight: 300;
  color: #222;
  margin-top: 0;
  margin-bottom: 5rem;
  text-align: center;
  pointer-events: none;
}

.login-form input {
  margin-bottom: 1rem;
}

.login-form .btn {
  width: 100%;
}

.admin-shortcut {
  position: fixed;
  top: 5rem;
  right: 0;
  background-color: #2da0ff;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  z-index: 9999;
  cursor: pointer;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.admin-shortcut:hover {
  background-color: #258de3;
}
.admin-shortcut:hover a {
  text-decoration: none;
  color: #fff;
}

.admin-shortcut h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  padding: 3rem;
  margin: 0;
  text-decoration: none;
}

.admin {

}

.admin h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #222;
  margin-bottom: 5rem;
  margin-left: 7rem;
  margin-top: 5rem;
}

.admin h4 {
  font-size: 15px;
  font-weight: 300;
  color: #222;
}

.admin-grid {
  background-color: #fafafa;
}

.admin-row {

}

.admin-row-first {
  margin-top: 5rem;
}

.admin-row-end {
  background-color: #eee;
  height: 5.5rem;
}

.admin-row-end .btn {
  float: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.admin-row-header {

}

.admin-row-header h2 {
  font-size: 25px;
  font-weight: 400;
  color: #444;
}

/* MOBILE OVERRIDES */
@media screen and (max-width: 1224px) {
  .home-sec-1 {
    margin-top: 0;
  }

  .home-img-1-wrap {
    padding: 0;
  }

  .home-img-1 {
    border-radius: 0;
  }

  .home-sec-2 h1 {
    margin-left: 15px;
  }

  .social-sec-1 {
    margin-top: 0;
  }

  .social-sec-1 h2 {
    margin-bottom: 3rem;
  }

  .social-sec-2 {
    margin-top: 0;
  }

  .social-sec-2 h2 {
    margin-bottom: 3rem;
  }

  .social-widget-instagram iframe {
    margin: 0 auto !important;
  }

  .footer {
    height: 60rem;
  }

  .admin-link {
    margin-top: 5rem;
  }
}

/* LARGE MONITOR OVERRIDES */
@media screen and (min-width: 1824px) {
  .home-sec-1 {
    margin-top: 150px;
  }

  .home-title-1 {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 300px;
    font-size: 10rem;
  }

  .home-img-1 {
    border-radius: 2rem;
  }

  .ehg-navbar-title {
    font-size: 6rem;
  }

  .dropdown-toggle {
    font-size: 3rem;
  }

  .artist-divider-right {
    height: 80rem;
  }

  .artist-divider-right-image {
    height: 80rem;
  }

  .artist-divider-left {
    height: 80rem;
  }

  .artist-divider-left-image {
    height: 80rem;
  }

  .social-widget-facebook {
    text-align: right;
  }
}
