body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */

.ehg-navbar {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: baseline;
  justify-content: center;
}

.ehg-navbar h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.ehg-navbar h1:hover {
  transform: translateY(5px);
}

.ehg-navbar-title {
  text-decoration: none;
  color: #222;
  margin-left: 30px;
  margin-right: 30px;
}
.ehg-navbar-title:hover {
  text-decoration: none;
  color: #222;
}
.ehg-navbar-title:active, .ehg-navbar-title:focus {
  text-decoration: none;
  color: #222;
}

.ehg-navbar h2 {
  font-size: 15px;
  font-weight: 300;
  text-align: center;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.ehg-navbar-link {
  text-decoration: none;
  color: #555;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.ehg-navbar-link:hover {
  color: #c7a891;
  text-decoration: none;
}
.ehg-navbar-link:active, .ehg-navbar-link:focus {
  color: #555;
  text-decoration: none;
}

.btn-link:focus, .btn-link:hover {
  color: #c7a891;
  text-decoration: none;
}

.dropdown-toggle {
  color: #555;
  font-size: 15px;
  font-weight: 300;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.dropdown-toggle:hover {
  color: #c7a891;
}
.dropdown-toggle:active {
  box-shadow: none;
  color: #a18c7d;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.caret {
  display: none;
}

.dropdown-menu {
  box-shadow: none;
  border: none;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.dropdown-menu > li > a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.dropdown-menu > li> a:hover {
  color: #c7a891;
  background-color: rgba(0,0,0,0);
}

/* MOBILE NAVBAR (BOOTSTRAP) */

.navbar-default {
  background-color: #fff;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #222;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #c7a891;
  color: #fff;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #c7a891;
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

/* HOME */

.home-img-1 {
  width: 100%;
  animation-name: homeMainImageIntro;
  animation-duration: 1s;
  -webkit-user-drag: none;
}

@keyframes homeMainImageIntro {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-title-1 {
  font-size: 60px;
  font-weight: 300;
  margin-top: 50px;
  opacity: 0; /* Starts out at zero for animation */
  animation-name: homeMainTitleIntro;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.home-title-1-bold {
  font-weight: 500;
}

@keyframes homeMainTitleIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-sec-1 {
  margin-top: 100px;
}

.home-sec-2 {
  margin-top: 300px;
}

.home-sec-2-title-m {
  margin-left: 15px;
}

.home-sec-2 h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
}

.home-sec-2 h2 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  opacity: 0.5;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  cursor: pointer;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.home-sec-2 img {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.artist-divider-left {
  height: 400px;
  overflow: hidden;
  /*background-image: url('images/artist-portrait-fred-briscoe.JPG');
  background-size: cover;*/
  z-index: 0;
}
.artist-divider-left:hover .artist-divider-left-overlay {
  opacity: 0;
}
.artist-divider-left:hover h2 {
  opacity: 1;
  mix-blend-mode: overlay;
}
.artist-divider-left:hover .artist-divider-left-image {
  filter: grayscale(0);
}

.artist-divider-left-image {
  background-image: url('images/artist-portrait-fred-briscoe.JPG');
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  filter: grayscale(1);
}

.artist-divider-right {
  height: 400px;
  overflow: hidden;
  /*background-image: url('images/artist-portrait-michael-roser.JPG');
  background-size: cover;*/
  z-index: 0;
}
.artist-divider-right:hover .artist-divider-right-overlay {
  opacity: 0;
}
.artist-divider-right:hover h2 {
  opacity: 1;
  mix-blend-mode: overlay;
}
.artist-divider-right:hover .artist-divider-right-image {
  filter: grayscale(0);
}

.artist-divider-left-overlay {
  z-index: -1;
  background-color: #c7a891;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.artist-divider-right-overlay {
  z-index: -1;
  background-color: #b39681;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.artist-divider-right-image {
  background-image: url('images/artist-portrait-michael-roser.JPG');
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  filter: grayscale(1);
}

.home-sec-2-addon {
  margin-bottom: 100px;
}

.home-sec-2-addon .col-md-4 {
  padding: 0;
}

.home-sec-2-addon .artist-button-bar-left .btn {
  width: 100%;
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: #c7a891;
  opacity: 0.6;
  font-size: 25px;
  font-weight: 300;
  padding: 4px;
  box-sizing: border-box;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.home-sec-2-addon .artist-button-bar-left .btn:hover {
  background-color: #937b6a;
}

.home-sec-2-addon .artist-button-bar-right .btn {
  width: 100%;
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: #b39681;
  opacity: 0.6;
  font-size: 25px;
  font-weight: 300;
  padding: 4px;
  box-sizing: border-box;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.home-sec-2-addon .artist-button-bar-right .btn:hover {
  background-color: #937b6a;
}

.artist-button-bar-left, .artist-button-bar-right {
  padding: 0;
}

.social-sec-1 {
  margin-top: 200px;
}

.social-sec-1-m {
  margin-top: 100px;
}

.social-sec-1 h2 {
  font-size: 50px;
  font-weight: 300;
  padding-top: 200px;
}

.social-sec-2 h2 {
  font-size: 50px;
  font-weight: 300;
  padding-top: 300px;
}

.social-sec-2 {
  margin-top: 100px;
}

.social-facebook-center {
  text-align: center;
}

.snapwidget-widget {
  border: none;
  overflow: hidden;
  width: 100%;
}

/* UTILITIES */

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* SCROLL INDICATOR */

.scroll-indicator {
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 30px;
  animation-name: scrollIndicator;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrollIndicator {
  0% {
    opacity: 0;
    bottom: 40px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 5px;
  }
}

/* FOOTER */

.footer {
  margin-top: 200px;
  background-color: #c7ae9b;
  height: 400px;
}

.footer h1 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-left: 20px;
  margin-top: 50px;
}

.footer h2 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 50px;
}

.footer h3 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.footer h4 {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;

  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.footer h4:hover {
  opacity: 0.75;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
}

.footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  margin-left: 20px;
}

/* MOBILE OVERRIDES */
@media screen and (max-width: 1224px) {
  .social-sec-1 {
    margin-top: 0;
  }

  .home-sec-2 h1 {
    margin-left: 15px;
  }
}
